body {
padding-top: 20px;
padding-bottom: 40px;
background-color: #8ecad3;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 200;
}

#title {
font-size: 10rem;
color: #0097A5;
font-weight: bold;
}

#title a {
color: #0097A5;
text-decoration: none;
}

#links-container {
font-size: 1.8rem;
}

#links-container p {font-size: 2.0rem;}

.jumbotron {text-align: left;font-size: 1.8rem;}

.links p { 
text-align: ;
font-weight: bold;
}

.centered {   
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.footer {
font-size: 1.3rem;
}

a:link {color: #530CE8;}
a:visited { color: #530CE8;}